body header h1 {
  font-size: 4em;
}

body header h1 a {
  color: white;
}

#navbar {
  margin: 0 auto;
}

nav a {
  color: white;
}

#skills, #work {
  float: left;
}

#skills {
  margin-right: 8%;
}

#work {
  width: 50%;
}

aside {
  position: absolute;
  right: 0;
  top: 100px;
  background: rgb(113,119,41) rgba(113,119,41,.5);
  width: 30%;
  text-align: center;
}
.aside-bold {
  text-decoration: underline;
}
