
/* FONTS ========================== */

@font-face {
    font-family: KingthingsVersalisRegular;
    src: url('Kingthings_Versalis-webfont.eot');
    src: url('Kingthings_Versalis-webfont.eot?#iefix') format('embedded-opentype'),
         url('Kingthings_Versalis-webfont.woff') format('woff'),
         url('Kingthings_Versalis-webfont.ttf') format('truetype'),
         url('Kingthings_Versalis-webfont.svg#KingthingsVersalisRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* HEADER STYLES ================== */

body header h1 {
  font-size: 4em;
}

body header h1 a {
  color: white;
}

#navbar {
  margin: 0 auto;
}

nav a {
  color: white;
}

/* TECH SKILLS STYLES ================== */

#skills, #work {
  float: left;
}

#skills {
  margin-right: 8%;
}
#skills h3 {
  opacity: .7;
}

/* CENTER COLUMN STYLES ================== */

#work {
  width: 50%;
}

/* RIGHT COLUMN STYLES ================== */

aside {
  position: absolute;
  right: 0;
  top: 100px;
  width: 30%;
  text-align: center;
  margin-top: -100px;
}
.aside-bold {
  text-decoration: underline;
}
.edu-specs {
  background: #E5E5E5;
  color: black;
  border: 1px dashed black;

}
.linked-logo, .portfolio {
  margin: 25px auto 0 auto;
  width: 50%;
}
.portfolio a {
  color: blue;
  font-family: KingthingsVersalisRegular;
}

